doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Demo Page
		link(
			rel="stylesheet"
			type="text/css"
			href="./index.css"
		)
		link(
			rel="shortcut icon"
			type="image/x-icon"
			href="./favicon.ico"
		)
	body
		h1.hidden.content-loading Loading...

		.my-app
			.App-header
			h2 This is a dancing Pythagoras tree
			
			p.App-intro
				svg(
					ref="svg"
					style="border: 1px solid lightgrey;"
				)


		script(
			src="app.bundle.js",
			async="true",
			defer="true"
		)
