doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Demo Page
		link(
			rel="stylesheet"
			type="text/css"
			href="./index.css"
		)
		link(
			rel="shortcut icon"
			type="image/x-icon"
			href="./favicon.ico"
		)
	body
		h1.hidden.content-loading Loading...
		
		test-elt(callback="testCallback")
			h1 Did it work?
			
		button#goBtn CHANGE PLACES!

		script(
			src="app.bundle.js",
			async="true",
			defer="true"
		)
