doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Demo Page
		link(
			rel="stylesheet"
			type="text/css"
			href="./index.css"
		)
	body
		h1.hidden.content-loading Loading...

		script(
			src="app.bundle.js",
			async="true",
			defer="true"
		)
